div.todayState h2 {
  background-color: #00ffd140;
  display: inline-block;
  border-radius: 10px;
  text-align: center;
  /* padding: 5px; */
  padding: 10px 5px;
}

.today_mood_container {
  display: flex;
  justify-content: space-around;
}

.todayMood > h2,
.todayScore > h2 {
  width: 100px;
}
.todayMood {
  font-size: 20px;
}

.emoji_list {
  display: inline-block;
  font-size: 24px;
}

.emoji {
  margin-left: 10px;
  filter: brightness(1) invert(0) sepia(1) hue-rotate(0deg) saturate(0);
  cursor: pointer;
}

.selected_emoji {
  margin-left: 10px;
  filter: none;
  font-size: 26px;
}

.todayScore {
  display: flex;
  align-items: center;
  font-size: 20px;
}

.score {
  margin-left: 20px;
}
.diary {
  font-size: 20px;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.diary > h2 {
  font-size: 24px;
}

.diary_content {
  height: 100%;
  padding: 8px;
}

.diary_textarea {
  width: 100%;
  height: 230px;
  resize: none;
  border: none;
  font-family: "Daheng";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/naverfont_02@1.0/Daheng.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
  font-size: 20px;
}

.diary_paragraph {
  width: 100%;
  height: 230px;
  font-size: 20px;
  white-space: pre-line;
  word-wrap: break-word;
  overflow: hidden;
  overflow-y: scroll;
}

.diary_paragraph:hover {
  cursor: pointer;
}

.diary_paragraph::-webkit-scrollbar {
  width: 10px;
}

.diary_paragraph::-webkit-scrollbar-thumb {
  background-color: hsl(166, 33%, 81%);
  border-radius: 10px;
}

#diaryTxt {
  height: 100%;
  width: 100%;
  border-radius: 10px;
  border: 1px solid #00ffd140;
}

.score_span {
  margin-left: 20px;
  cursor: pointer;
  width: 70%;
}
